*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Encode Sans Expanded', sans-serif;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.layoutpage-firstSection{
  background-image:url('./assets/moren-hsu-VLaKsTkmVhk-unsplash.jpg');
  background-size:cover;
  height: 100vh;
  width: 100vw;
  display:flex;
  flex-direction: column;
  justify-content:center;
}
.layoutpage-h1{
padding-top: 300px;
text-align: left;
width: 623px;
height: 257px;
margin-left: 99px;
font-family: Nunito, sans-serif;
font-style: normal;
font-weight: 300;
font-size: 64px;
line-height: 87px;
display: flex;
align-items: center;

color: #FFF4F4;

text-shadow: 0px 4px 4px #000000;
}
.layoutpage-h2{
padding-bottom: 50px;
text-align: left;
width: 1196px;
height: 257px;
margin-left: 99px;
font-family: Nunito, sans-serif;
font-style: normal;
font-weight: 300;
font-size: 48px;
line-height: 65px;
display: flex;
align-items: center;

color: #FFF4F4;
mix-blend-mode: normal;
text-shadow: 0px 4px 79px #000000;

}
.div-table-dashboard{
  margin-top: 20px;
  display:flex;
  justify-content: space-between;
}
.div-username{
  display:flex;
  justify-content: center;
  padding-top: 12px;
  width:100%;
}
.h1-username{
  font-weight:bold;
  letter-spacing: 1.5px;
  text-transform: capitalize;
}
.home-icon{
  margin-left: 10px;
  margin-top: 13px;
  margin-right: 3px;
  height: 35px;
}

.home-wrapper:hover {
  background-color: #292929
}
.h1-card-student{
  font-size: 24px;
  font-weight: bold;
}
.card-bulma{
  margin: 0 25%;
  padding-top: 90px;
  margin-bottom: 30px;
}
.card-bulmaTeacher{
  margin: 0 25%;
  padding-top: 30px;
}
.div-table-dashboard{
  display:flex;
  justify-content: center;
}
.table{
  width: 50%;
}
.buttons{
  width: 100%;
  padding-left:26%;
}
.div-button-card{
  margin-left: 40px;
}
.panel-block{
  width:50%;
}
.parent-panel-block{
  display:flex;
  justify-content: center;
}
.available-button-teacher{
  margin-top:15px;
  margin-bottom: -10px;
}
.content-center{
  margin-top: 10px;
}
.content-teachercard{
 /*  margin-top: 30px; */
}
.sweet-loading-student{
  margin-top: 80px;
}
.h1-findingastudent{
  margin-top: 20px;
  font-size: 18px;
  font-weight:bold;
}
.title{
  color:none;
}
.h1-findingastudent-student{
  margin-top: 20px;
  font-size: 18px;
  font-weight:bold;
  margin-bottom: 70px;
  padding-bottom: 70px;
}
.title:hover{
  color:rgb(80, 121, 255)
}
.h1-findingastudent-student-invalid{
  margin-top: 100px;
  font-size: 18px;
  font-weight:bold;
  margin-bottom: 70px;
  padding-bottom: 70px;
  color:rgb(208, 103, 103);
}
.loading-black-pitagoras{
  width: 100%;
  height: 100%;
  background-color:#282c34;
}
.home-icon-student{
  padding-right: 15px;
}
.stars{
  margin-top: 10px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.h1-findingastudent-student-stars{
  margin-top: 20px;
  font-size: 18px;
  font-weight:bold;
  margin-bottom: 70px;
  padding-bottom: 70px;
  color:rgb(90, 160, 77);
}
.home-page-div{
  margin-bottom: 500px;
}
.info-paragraph{
  font-size: 12px;
  margin-top: 15px;
  color: white;
  margin-bottom: 15px;
}
.span-teachers{
  color:white;
  font-weight: bold;
}
.others-css-inputs{
  border-radius: 4px;
  height: 40px;
}